# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
venv311/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
exports/
downloads/
data/
*.log
.env
config.ini
segments/
presentations/
processed_audio.mp3
audio.mp3
audio.wav
*.mp3
*.wav
*.pptx
credentials.json

# Google OAuth
auth/client_secrets.json

# Dependencies
node_modules/
package-lock.json

# Flask session files
flask_session/

# Temporary files
*.tmp
*.temp
.DS_Store

# Large files and tokens
token.pickle
*.pickle
python311_installer.exe
token.json

# Secrets
secret.yaml
